{{from seaceperu import SEACE}}
{{extend 'layout.html'}}
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<form><input type="hidden" id="id" name="id" value="" /></form>
<table border="2" width="100%">
<tr><th width="7%">Star</th><th width="33%">Nombre</th><th width="46%">Síntesis</th><th width="14%">Monto</th></tr>
{{   for row in rows:}}
{{      monto = row.seace_process.moneda + " " + '{:,.0f}'.format(row.seace_process.monto) if row.seace_process.monto else "(Valor Reservado)"
        nombre = row.seace_process.nombre[:50].title() + (None if len(row.seace_process.nombre) <= 50 else "...")
        montostyle = "font-weight:bold" if row.seace_process.monto > 1000000 else ""
        im = SEACE.INTEREST.get(row.seace_interest.interest_level)
}}
<tr>
<td
onclick="jQuery('#id').val('{{=row.seace_process.id}}'); ajax('star', ['id'], 'star{{=row.seace_process.id}}');"
><span 
id="star{{=row.seace_process.id}}"><img src="{{=URL("static/images",im)}}"></span></td>
{{TD(SPAN(IMG(_src=URL("static/images",im)), _id=row.seace_process.id))}}
{{=TD(A(nombre, _href=row.seace_process.enlace, _title="Contratante: " + row.seace_process.entidad, _target="blank"))}}
<td
> 
<a title="{{=row.seace_process.items_text}}"
>
{{=row.seace_process.sintesis}}</a>

</td>
{{=TD(SPAN(monto, _style=montostyle))}}
{{    pass}}
</table>

